@{
    ViewBag.Title = "About Me";
}
<h2 class="text-primary"> <i class="fa fa-user-tie"></i> @ViewBag.Title</h2>
<hr />
<div class="card-body">

    <p></p>
    <p>
        I am a hard-working and ambitious person with a great sense of humor. My
        clients know me as a highly dependable resource that can always be trusted
        during critical issues due to my priority management and problem-solving
        skills. I am flexible & friendly to work in a team as well as a person and eager
        to learn new things.
    </p>
</div>
