@{
    ViewBag.Title = "Contact";
}
<h2 class="text-primary"> <i class="fa fa-address-card"></i> @ViewBag.Title</h2>
<hr />


<address>
    <strong>Address</strong>
    132 saltjo-boo,
    Stockholm,
    Sweden.
</address>

<address>
    <strong>Mobile Number:</strong>  <p>+46 769587382</p><br />
    <strong>E-Mail:</strong>  <p>kaviya.eie@gmail.com</p><br />
    <strong>LinkedIn:</strong> <a href="www.linkedin.com/in/kaviya-ayyappan-4350a056">www.linkedin.com/in/kaviya-ayyappan</a>
</address>