
@{
    ViewBag.Title = "Education";
}
<h2 class="text-primary"> <i class="fa fa-book-reader"></i> @ViewBag.Title</h2>
<hr />

<div>
    <div class="card" style="width: 42.5rem;background-color:ghostwhite">
        <div class="card-body">
            <h5 class="card-title text-primary">Training</h5>
            <h5 class="card-title">2020-2020 | .Net web development.</h5>

            <p class="card-text">Lexicon University.</p>

        </div>
    </div>
    <p></p>

    <div class="card" style="width: 42.5rem;background-color:ghostwhite">
        <div class="card-body">
            <h5 class="card-title text-primary">University</h5>
            <h5 class="card-title">2008-2012 | Bachelor of Electronics and Instrumentation Engineering.</h5>

            <p class="card-text">Adhiyamaan college of engineering.</p>

        </div>
    </div>
    <p></p>

    <a href="@Url.Action("Certificate","Home")" class="btn btn-primary" style="float:right">View Certificate</a>
</div>






