
@{
    ViewBag.Title = "Experience";
}
<h2 class="text-primary"> <i class="fa fa-briefcase"></i> @ViewBag.Title</h2>
<hr />

<div class="card-body">
    <h4>2013-2016 | Hcl Technology limited </h4>
    <h5>Role: Mainframe Analyst & Tester</h5>
    <ul>
        <li>Performed Smoke/Batch/Regressive/End-to-End testing.</li>
        <li>Worked on IDMS/Z/os release and upgradation.</li>
        <li>Individually handled the production environment.</li>
        <li>Automated various manual task</li>
        <li>Supported teams from various countries.</li>
        <li>Provided on call support to the client.</li>
        <li>Worked on 24*7 support.</li>
    </ul>
</div>



