@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<div class="row" style="padding-top:80px;padding-left:100px;text-align:justify">
    <div class="col col-md-3">
        <img src="~/Images/Photo.jpg" alt="" style="width: 15rem; height: 20rem;" />
    </div>
    <div class="col col-md-8 font-weight-light text-white" style="font-family:Calibri;font-size:x-large">
        <h4>Welcome to my website</h4>
        <p>Hi,</p>
        <p>I am Kaviya Ayyappan, a Junior developer & tester. I have 3 years of experience in HCL technologies as an Analyst and Tester. Currently, I am doing a .Net web development course at Lexicon and looking for an Internship opportunity or entry-level position.</p>
    </div>
</div>



