@{
    ViewBag.Title = "Personal Skills";
}
<h2 class="text-primary"> <i class="fa fa-tools"></i>  @ViewBag.Title</h2>
<hr />

<div class="card-body">
    <h4>Personal Skills</h4>
    <ul>
        <li>Passionate</li>
        <li>Active Learning</li>
        <li>Independent</li>
        <li>Problem-Solving</li>
        <li>Creative</li>
    </ul>
</div>

